// If you edit this file you need to compile the theme. See README.md for details.

// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples
//$mat-background-color: #fafafa;
// #fafafa for a light and #303030 for a dark theme
//$v-focus-color: #00BCD4;

$v-font-family: "Roboto", sans-serif;
$v-font-weight: 400;
$v-font-weight--header: 400;
$v-background-color: #fff;
$v-focus-color: rgb(150,190,90);
$v-luminance-threshold: 180;
$v-border: 2px solid v-shade;
$v-border-radius: 6px;
$v-bevel: false;
$v-gradient: true;
$v-shadow: false;
$v-textfield-bevel: true;
$v-textfield-shadow: false;
$v-link-text-decoration: false;
$v-selection-overlay-padding-horizontal: 0;
$v-selection-overlay-padding-vertical: 6px;
$v-selection-item-height: 30px;
$v-selection-item-border-radius: 0;
$valo-menu-background-color: #DCEDC8;
$v-focus-color: #6eaeea;
$v-selection-color: #9FEDD7;
$v-hover-styles-enabled: true !default;
$al-bar-background-color: #e9eae8 default;

// (You can find colors at materialpalette.com) $v-focus-color is supposed to be your accent color
// Note: " ... Using colors from the Material Design palette is optional. ... "

@import "../valo/valo.scss";
@import "../material/material.scss";
@import "app-layout.scss";


@mixin mytheme {

  @include valo;
  @include material;
  @include app-layout;



  .valo-test {
    .v-button-primary.v-button-primary {
      background: #fff;
      border-color: $v-focus-color;
      color: $v-focus-color;
    }

    .v-button-danger.v-button-danger {
      background: #fff;
      border-color: $v-error-indicator-color;
      color: $v-error-indicator-color;
    }


    .v-slider-base:before,
    .v-slider-base:after {
      border: none !important;
    }
  }

.catbackground
{

  background-color: #fcfcfc !important;

}

.menubackground
{

  background-color: #FEF97C !important;

}

  .v-tree8
  {
    color: $v-focus-color;


  }

  .v-tree-node-caption:hover {
    background-color: #b4ecef !important;
  }

.overflow{
  overflow-x: auto;
  overflow-y: auto;
}


  .mytheme .v-tree8 {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    background-color: #DCEDC8;
  }



  .mytheme .v-tree-node-selected {
    color: $v-focus-color;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.05) !important;
  }
  .mytheme .v-tree8-row  > td, .mytheme .v-tree8-row  > th {
    background-color:  rgba(179, 237, 121, 0.46)!important;
  }



  .mytheme .v-tree8-spacer  {
    position: absolute;
    display: block;
    background-color: rgba(179, 237, 121, 0.46)!important;
  }

  .mytheme .v-tree8-sidebar.v-contextmenu  {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(179, 237, 121, 0.46);
    border: 2px solid #c1c1c1;
    padding: 0;
    z-index: 5;
  }



  .mytheme .v-tree8-header th  {
    position: relative;
    background-color: rgba(179, 237, 121, 0.46);
    font-size: 14px;
    font-weight: inherit;
    border-left: 2px solid #c1c1c1;
    border-bottom: 2px solid #c1c1c1;

    text-align: left;
  }

  .mytheme .v-tree8-row-selected  > .v-tree8-cell  {
    background: #96be5a;
    color: $v-focus-color;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.05);
    border-color: #80a24d;
  }



  .mytheme .v-tree8-column-resize-simple-indicator {
    position: absolute;
    width: 3px;
    top: 0px;
    left: 18px;
    z-index: 9001;
    background: $v-focus-color;
    box-shadow: 0px 0px 5px #000;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .mytheme .v-tree8-footer td {
    background-color: $v-focus-color;
    font-size: 14px;
    font-weight: inherit;
    border-left: 2px solid #c1c1c1;
    border-top: 2px solid #c1c1c1;
    border-bottom: none;

  }


  .mytheme .v-tree8-horizontal-scrollbar-deco {
    background-color: $v-focus-color;
    border: 2px solid #c1c1c1;
    border-top: none;
  }



  .mytheme .v-tree8-header .v-tree8-cell {
    background: $v-focus-color;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.05);
  }


  .mytheme .v-tree8-sidebar.v-contextmenu.closed {
    background: $v-focus-color;
  }

  .mytheme .v-tree8-row-drag-badge {
    background-color: $v-focus-color;
    color: $v-focus-color;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    line-height: 30px;
    text-align: center;
    float: left;
  }






  .v-calendar-event.v-calendar-event-all-day.v-calendar-event-start.v-calendar-event-end.v-calendar-event-toDoEvent-all-day {
    background-color: #f8b2b8 !important;
    color: #000000!important;


    .v-calendar-event-content {
      border: 1px solid #39dc28 !important;

      background-color: rgba(15, 220, 0, 0.8) !important;

      -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.1) !important;
      -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.1) !important;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.1) !important;
    }

  }


  .v-calendar-event.v-calendar-event-all-day.v-calendar-event-start.v-calendar-event-end.v-calendar-event-finishedEvent-all-day {
    background-color: #85f877 !important;
    color: #000000!important;


    .v-calendar-event-content {
      border: 1px solid #39dc28 !important;

      background-color: rgba(15, 220, 0, 0.8) !important;

      -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.1) !important;
      -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.1) !important;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.1) !important;
    }



  }

  .v-calendar-times {
    width: 0px;
    font-size: 0.77em;
    line-height: 1;
    white-space: nowrap;
    overflow: hidden;
    color:transparent;
  }

  .v-calendar-week-wrapper
  {

    width: 0px !important;
    font-size: 0.77em !important;
    line-height: 1 !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    color:transparent !important;


  }

  .v-treegrid-cell.severe  {
    background: #F92D2D !important;
  }
  .v-treegrid-cell.middle {
    background: #F4D513 !important;
  }
  .v-treegrid-cell.weak{
    background: #9FEC0F !important;
  }










  // Insert your own theme rules here
}
