<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:false,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;mytheme&quot;}">
  <meta name="vaadin-version" content="8.1.5">
  <meta name="package-mapping" content="de_tud_view_homework_calendar:de.tud.view.Homework.Calendar">
  <meta name="package-mapping" content="de_tud_view_homework:de.tud.view.Homework">
  <meta name="package-mapping" content="com_jarektoro_responsivelayout:com.jarektoro.responsivelayout">
  <meta name="package-mapping" content="com_vaadin_addon_calendar_ui:com.vaadin.addon.calendar.ui">
  <meta name="package-mapping" content="org_vaadin_addon_calendar:org.vaadin.addon.calendar">
 </head>
 <body>
  <vaadin-vertical-layout size-full>
   <vaadin-accordion size-auto>
    <tab caption="Neuer Kalendereintrag" selected>
     <vaadin-form-layout caption="Neuer Kalendereintrag" size-auto>
      <vaadin-button description="Eintrag hinzfügen" plain-text _id="saveButton">
        Eintrag hinzufügen 
      </vaadin-button>
      <vaadin-combo-box caption="Typ:" description="Bitte wählen sie einen Aufgabentypen aus!" data-item-type="java.lang.String" _id="combobox">
       <option item="Option1">Option 1</option>
       <option item="Option2">Option 2</option>
       <option item="Option3">Option 3</option>
      </vaadin-combo-box>
      <vaadin-date-field caption="Datum:" description="Bitte wählen Sie ein Datum!" placeholder="" height="21px" _id="dataPicker"></vaadin-date-field>
      <vaadin-text-field caption="Aufgabenname:" description="Bitte geben Sie einen Aufgabennamen an!" placeholder="Aufgabenname" height="21px" _id="homeworkName"></vaadin-text-field>
      <vaadin-text-area caption="Beschreibung:" description="Bitte fügen Sie Ihre Beschreibung ein!" placeholder="Aufgabenbeschreibung" width="879px" height="57px" _id="homeworkDescription"></vaadin-text-area>
     </vaadin-form-layout>
    </tab>
   </vaadin-accordion>
   <vaadin-label height="28px" plain-text _id="calenderLabel" :bottom :center>
     Label 
   </vaadin-label>
   <de_tud_view_homework-homework-calender size-full _id="calendar" :center></de_tud_view_homework-homework-calender>
  </vaadin-vertical-layout>
 </body>
</html>