<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:false,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;mytheme&quot;}">
  <meta name="vaadin-version" content="8.1.5">
  <meta name="package-mapping" content="de_tud_view_homework_calendar:de.tud.view.Homework.Calendar">
  <meta name="package-mapping" content="de_tud_view_homework:de.tud.view.Homework">
  <meta name="package-mapping" content="com_jarektoro_responsivelayout:com.jarektoro.responsivelayout">
  <meta name="package-mapping" content="com_vaadin_addon_calendar_ui:com.vaadin.addon.calendar.ui">
  <meta name="package-mapping" content="org_vaadin_addon_calendar:org.vaadin.addon.calendar">
 </head>
 <body>
  <vaadin-vertical-layout size-auto>
   <vaadin-horizontal-layout>
    <vaadin-button description="Eintrag hinzfügen" plain-text _id="saveButton">
      Eintrag hinzufügen 
    </vaadin-button>
    <vaadin-combo-box data-item-type="java.lang.String" _id="combobox">
     <option item="Option1">Option 1</option>
     <option item="Option2">Option 2</option>
     <option item="Option3">Option 3</option>
    </vaadin-combo-box>
    <vaadin-date-field _id="dataPicker"></vaadin-date-field>
    <vaadin-combo-box text-input-allowed="false" data-item-type="java.lang.String" _id="repeatBox">
     <option item="Option1">Option 1</option>
     <option item="Option2">Option 2</option>
     <option item="Option3">Option 3</option>
    </vaadin-combo-box>
   </vaadin-horizontal-layout>
   <vaadin-horizontal-layout>
    <vaadin-text-field caption="Aufgabenname:" _id="homeworkName"></vaadin-text-field>
    <vaadin-text-area caption="Beschreibung:" description="Bitte fügen Sie ihre Beschreibung ein!" width="370px" height="37px" _id="homeworkDescription"></vaadin-text-area>
   </vaadin-horizontal-layout>
   <vaadin-horizontal-layout>
    <vaadin-label visible="false" plain-text _id="calenderLabel" :middle :center>
      Label 
    </vaadin-label>
   </vaadin-horizontal-layout>
   <vaadin-horizontal-layout>
    <de_tud_view_homework-homework-calender _id="calendar"></de_tud_view_homework-homework-calender>
   </vaadin-horizontal-layout>
  </vaadin-vertical-layout>
 </body>
</html>