<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:false,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;mytheme&quot;}">
  <meta name="vaadin-version" content="8.1.5">
 </head>
 <body>
  <vaadin-vertical-layout caption-as-html caption="<a href=&quot;https://icons8.com&quot;>Icon pack by Icons8</a>" size-full>
   <vaadin-label width="199px" plain-text _id="creditIcons">
     &lt;a href="https://icons8.com"&gt;Icon pack by Icons8&lt;/a&gt; 
   </vaadin-label>
  </vaadin-vertical-layout>
 </body>
</html>