<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:false,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;valo&quot;}">
  <meta name="vaadin-version" content="8.1.5">
 </head>
 <body>
  <vaadin-vertical-layout height="50%">
   <vaadin-label plain-text _id="headline">
     Medikationsplan 
   </vaadin-label>
   <vaadin-grid size-full _id="medicationSchedule" :expand>
    <table>
     <colgroup>
      <col column-id="project" sortable="false">
      <col column-id="status" sortable="false">
     </colgroup>
     <thead>
      <tr default>
       <th plain-text column-ids="project">Project</th>
       <th plain-text column-ids="status">Status</th>
      </tr>
     </thead>
     <tbody></tbody>
    </table>
   </vaadin-grid>
  </vaadin-vertical-layout>
 </body>
</html>