<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:false,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;mytheme&quot;}">
  <meta name="vaadin-version" content="8.1.5">
  <meta name="package-mapping" content="com_kbdunn_vaadin_addons_fontawesome:com.kbdunn.vaadin.addons.fontawesome">
  <meta name="package-mapping" content="org_vaadin_risto_stepper:org.vaadin.risto.stepper">
 </head>
 <body>
  <vaadin-form-layout caption="Vitaldaten eingeben:" size-full margin>
   <vaadin-horizontal-layout style-name="layoutwithborder card-1" width="456px" height="160px" margin _id="weight">
    <vaadin-image width="90px" height-full _id="weightPicture"></vaadin-image>
    <vaadin-label width="103px" height="5px" plain-text _id="weightLabel" :middle :center>
      Gewicht: 
    </vaadin-label>
    <org_vaadin_risto_stepper-float-stepper style-name="Undefined width" width="145px" height="66px" _id="weightStepper" :bottom :center></org_vaadin_risto_stepper-float-stepper>
   </vaadin-horizontal-layout>
   <vaadin-horizontal-layout style-name="layoutwithborder card-1" width="456px" height="160px" margin _id="height">
    <vaadin-image source="waage.png" width="90px" height-full _id="heightPicture"></vaadin-image>
    <vaadin-label width="103px" height="5px" plain-text _id="heightLabel" :middle :center>
      Körpergröße: 
    </vaadin-label>
    <org_vaadin_risto_stepper-float-stepper style-name="Undefined width" width="145px" height="66px" _id="heightStepper" :bottom :center></org_vaadin_risto_stepper-float-stepper>
   </vaadin-horizontal-layout>
   <vaadin-horizontal-layout style-name="layoutwithborder card-1" width="456px" height="294px" margin _id="bloodPressure">
    <vaadin-image source="waage.png" width="90px" height="35%" _id="bloodPressurePicture" :middle :center></vaadin-image>
    <vaadin-label width="103px" height="5px" plain-text _id="bloodPressureLabel" :middle :right>
      Blutdruck 
    </vaadin-label>
    <vaadin-vertical-layout width="206px" :middle :expand>
     <org_vaadin_risto_stepper-float-stepper caption="Wert 1:" style-name="Undefined width" width="132px" height="66px" _id="bloodPressureStepper1"></org_vaadin_risto_stepper-float-stepper>
     <org_vaadin_risto_stepper-float-stepper caption="Wert 2:" style-name="Undefined width" width="132px" height="66px" _id="bloodPressureStepper11" :bottom></org_vaadin_risto_stepper-float-stepper>
    </vaadin-vertical-layout>
   </vaadin-horizontal-layout>
   <vaadin-horizontal-layout style-name="layoutwithborder card-1" width="456px" height="160px" margin _id="heartRate">
    <vaadin-image caption-as-html source="waage.png" width="90px" height-full _id="heartRatePicture"></vaadin-image>
    <vaadin-label width="103px" height="5px" plain-text _id="heartRateLabel" :middle :center>
      Puls: 
    </vaadin-label>
    <org_vaadin_risto_stepper-float-stepper style-name="Undefined width" width="145px" height="66px" _id="heartRateStepper" :bottom :center></org_vaadin_risto_stepper-float-stepper>
   </vaadin-horizontal-layout>
   <vaadin-native-button width="128px" height="41px" plain-text _id="saveVitalData">
     Speichern 
   </vaadin-native-button>
  </vaadin-form-layout>
 </body>
</html>